// =============================================================================
/*! countinmultiples */
/*! author: Toni Price (https://toni.rbind.io) */
// =============================================================================

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  // TODO: Ultimately remove --ncols-init as cols should be set from media size
  --ncols-init: 12;
  // Note NB: --cell-h-padding must correspond with Config.cellHorzPadding
  --cell-h-padding: 0.1em;
  --cell-v-padding: 0.4em;
  --cell-placeholder-width: 2.5em;
  --cell-width: calc(var(--cell-v-placeholder-width) + 2 * var(--cell-h-padding));

  // Styling for config groups at smaller screen sizes

  --config-col-1-width: 12em;
  --config-col-2-width: 8em;

  --config-lbl-min-width: 6.8em;

  --config-input-size: 5.5em;
  --config-input-spacer: 0.5em;

  --run-btn-height: 2.875em;

  --settings-link-padding: 0.2em;

  --recalc-tooltip-pos-bottom: 0.2em;
  --recalc-tooltip-pos-right: auto;
  --recalc-tooltip-pos-left: 110%;

  // --- --- ---
  // Symbolic colour names

  --clr-white: hsl(100 100% 100%);
  --clr-black: hsl(0 0% 0%);

  --clr-ghost-white: hsl(231, 33%, 96%); // coolors #f1f2f8
  --clr-light-blue: hsl(194, 44%, 74%); // #a0ccda
    --clr-outer-space: hsl(208, 10%, 32%); // coolors #49525a

  --clr-paynes-gray: hsl(194, 44%, 32%); // coolors #2e6576
  
  --clr-mimi-pink: hsl(331, 41%, 88%); // coolors #edd4e0
  --clr-fuscia-rose: hsl(338, 45%, 52%); // coolors #bc4e76
  --clr-raspberry-rose: hsl(338, 45%, 48%); // coolors #b1436c
  
  --clr-light-grey-1: hsl(230, 20%, 94%); // #edeef3;
  --clr-light-grey-2: hsl(0, 0%, 89%); // #e4e4e4;
  --clr-platinum: hsl(220, 7%, 84%); // coolors #d3d5d9
  --clr-med-grey-1: hsl(0, 0%, 54%); // #8a8a8a;
  --clr-dark-grey-1: hsl(0, 0%, 32%); // #525252;
  --clr-dark-grey-2: hsl(0, 0%, 22%); // #373737;
  
  --clr-cornsilk: hsl(53, 94%, 93%); // #fefadc;

  // --- --- ---
  // Theme colours

  --clr-lightest: var(--clr-white);
  --clr-darkest: var(--clr-black);

  --clr-grp1-light-1: var(--clr-ghost-white);
  --clr-grp1-midtone-1: var(--clr-light-blue);
  --clr-grp1-dark-1: var(--clr-outer-space);

  --clr-grp2-dark-1: var(--clr-paynes-gray);

  --clr-grp3-light-1: var(--clr-light-grey-1);
  --clr-grp3-light-2: var(--clr-light-grey-2);
  --clr-grp3-midtone-1: var(--clr-platinum);
  --clr-grp3-midtone-2: var(--clr-med-grey-1);
  --clr-grp3-dark-1: var(--clr-dark-grey-1);
  --clr-grp3-dark-2: var(--clr-dark-grey-2);

  --clr-hilite-1: var(--clr-cornsilk);
  --clr-hilite-2: var(--clr-lightest);

  --clr-highvis-light-1: var(--clr-mimi-pink);
  --clr-highvis-dark-1: var(--clr-fuscia-rose);
  --clr-highvis-dark-2: var(--clr-raspberry-rose);

  // --- --- ---
  // Font weights

  --font-wt-normal: 400;
  --font-wt-medium: 500;
  --font-wt-semi-bold: 600;
  --font-wt-bold: 700;

  // --- --- ---
  // Styling

  --body-clr: var(--clr-darkest);
  --body-bg-clr: var(--clr-grp1-light-1);

  --numgrid-clr: var(--clr-grp1-dark-1);
  --numgrid-bg-clr: var(--clr-grp1-midtone-1);

  --cell-hilite-bg-clr: var(--clr-hilite-1);

  --err-field-border-clr: var(--clr-highvis-dark-1);
  --err-field-bg-clr: var(--clr-highvis-light-1);
  --err-msg-clr: var(--clr-highvis-dark-2);

  --link-clr: var(--clr-grp2-dark-1);

  --h1-clr: var(--clr-grp2-dark-1);

  --release-stage-clr: var(--clr-grp3-dark-1);

  --table-border-clr: var(--clr-grp3-midtone-2);
 
  --btn-clr: var(--clr-grp3-midtone-2);
  --btn-bg-clr: var(--clr-grp3-light-1);
  --btn-border-clr: var(--clr-grp3-dark-1);
  --btn-hover-bg-clr: var(--clr-grp3-midtone-1);

  --btn-disabled-border-clr: var(--clr-grp3-midtone-2);

  --btn-attention-hilite-clr: var(--clr-hilite-1);
  --btn-attention-hover-clr: var(--clr-hilite-2);

  --btn-small-clr: var(--clr-grp3-midtone-2);
  --btn-settings-clr: var(--clr-grp3-dark-1);

  --config-col-grp-border-clr: var(--clr-grp3-light-2);

  // --- --- ---
  // Config unit colours
  // These are for the background behind each group of input fields

  // --clr-grp1-midtone-1 (light blue) #a0ccda
  --clr-config-unit-h: 194;
  --clr-config-unit-s: 44%;
  --clr-config-unit-l: 74%;

  // Config unit base colour
  --clr-config-unit: hsl(var(--clr-config-unit-h), var(--clr-config-unit-s), var(--clr-config-unit-l));

  // To lighten: Add a percentage to --clr-config-unit-l
  // To darken:  Subtract a percentage from --clr-config-unit-l

  --clr-config-unit-dark: hsl(
    var(--clr-config-unit-h),
    var(--clr-config-unit-s),
    calc(var(--clr-config-unit-l) + 10%)
  );

  --clr-config-unit-light: hsl(
    var(--clr-config-unit-h),
    var(--clr-config-unit-s),
    calc(var(--clr-config-unit-l) + 18%)
  );

  // --- --- ---
  // Tooltip colours

  // --clr-grp3-dark-1 (dark grey 1) #525252
  --clr-tooltip-bg-h: 0;
  --clr-tooltip-bg-s: 0%;
  --clr-tooltip-bg-l: 32%;

  // --clr-grp3-dark-2 (dark grey 2) #373737
  --clr-tooltip-border-h: 0;
  --clr-tooltip-border-s: 0%;
  --clr-tooltip-border-l: 22%;

  --tooltip-clr: var(--clr-grp1-light-1);

  --tooltip-bg-clr: hsl(var(--clr-tooltip-bg-h), var(--clr-tooltip-bg-s), var(--clr-tooltip-bg-l));
  --tooltip-border-clr: hsl(var(--clr-tooltip-border-h), var(--clr-tooltip-border-s), var(--clr-tooltip-border-l));

  --tooltip-disabled-change-pct: 58%;

  --tooltip-disabled-clr: var(--clr-med-grey-1);

  --tooltip-disabled-bg-clr: hsl(
    var(--clr-tooltip-bg-h),
    var(--clr-tooltip-bg-s),
    calc(var(--clr-tooltip-bg-l) + var(--tooltip-disabled-change-pct))
  );

  --tooltip-disabled-border-clr: hsl(
    var(--clr-tooltip-border-h),
    var(--clr-tooltip-border-s),
    calc(var(--clr-tooltip-border-l) + var(--tooltip-disabled-change-pct) / 2)
  );
}
// -----------------------------------------------------------------------------

body {
  color: var(--body-clr);
  background-color: var(--body-bg-clr);
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  // More font-family stack options:
  // font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  // font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
  padding: 1.5rem;
}

// -----------------------------------------------------------------------------
// h1

h1.title {
  margin-top: 0.5em;
  margin-bottom: 0.4em;
}

h1.title a.notice-me,
h1.title a.notice-me :is(:link, :hover, :focus, :active) {
  color: var(--h1-clr);
  background-color: var(--body-bg-clr);
  font-family: sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.licence h1 {
  color: var(--h1-clr);
}

.release-stage {
  color: var(--release-stage-clr);
  font-weight: var(--font-wt-medium);
  font-size: 1.3rem;
  letter-spacing: normal;
  margin-left: 0.3em;
}

// -----------------------------------------------------------------------------
// Title animator

.notice-me span {
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(50px);
  display: inline-block;
}

.notice-me span.fade {
  opacity: 1;
  transform: translateY(0px);
}

// -----------------------------------------------------------------------------
// Licence page

.licence {
  width: 90%;
  max-width: 850px;
}

// -----------------------------------------------------------------------------
// Footer

footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.4em;
  // Gap between divs in the event that they wrap
  row-gap: 1.3em;
  margin-top: 1.8em;
}

footer img {
  position: relative;
  top: 0.15em;
  width: 1.125em;
  height: 1.125em;
}

footer a, footer a:link {
  text-decoration: underline;
  padding: 0 0.2em;
  color: var(--link-clr);
}

footer a:hover, footer a:focus {
  text-decoration: none;
}

// -----------------------------------------------------------------------------
// Form inputs (e.g. label, input, etc.)
// (excluding run controls such as start/stop/clear, speed up/down, text size
// up/down)

#config fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  column-gap: 0.3em;
  // Gap between rows (i.e. input groups) in the event that they wrap
  row-gap: 1.0em;
  padding: 0.8em 0;
  border: none;
}

.config-col-grp {
  padding: 0.5em 0.3em 0.5em 0.7em;
  background-image: linear-gradient(to right, var(--clr-config-unit-dark), var(--clr-config-unit-light));
  border-radius: 0 25px 25px 25px;
  border: 1px solid var(--config-col-grp-border-clr);
}

// The vertical container for each input group including:
//   - input fields
//   - config info (e.g. checkboxes for user choices)
//   - additional info (e.g. highest multiple and no. of rows)
//   - potential error messages
#config fieldset .col {
  width: max-content;

  @extend .config-col-grp;

  display: grid;
  grid-template-columns: var(--config-col-1-width) var(--config-col-2-width);

  grid-template-rows: repeat(2, 1.8em);
}

// #config fieldset .col > div {
// }

#config fieldset .col.btn-col {
  display: flex;
  align-items: center;
  width: max-content;
  height: auto;
  padding-left: 0.5em;
  background-color: transparent;
  background-image: none;
  border: none;
}

.col__fields {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--config-input-spacer);
}

.col__fields label {
  width: var(--config-lbl-min-width);
  min-width: var(--config-lbl-min-width);
}

#config fieldset .col__extra-info {
  grid-column: 1 / 3;
  padding-top: 0.9em;
}

.chkbox-grp {
  position: relative;
  max-width: max-content;
  margin-left: var(--config-input-spacer);

  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

#multiple .chkbox-grp {
  top: 0.2em;
}

.chkbox-grp label {
  width: max-content;
  margin-left: var(--config-input-spacer);
  margin-right: var(--config-input-spacer);
  padding-top: 0.2em;
}

.chkbox-grp input {
  width: 0.9em;
}

#speed-range {
  margin-right: var(--config-input-spacer);
}

#config fieldset button {
  border: none;
}

#config fieldset button .square-icon {
  width: 2.2em;
  height: 2.2em;
  border: 1px solid var(--btn-small-clr);
  border-radius: 3px;
}

#config fieldset button .square-icon img {
  padding: 0.3em;
}

#config fieldset button:is(.disabled) {
  opacity: 0.7;
}

#config fieldset button:hover:not(.disabled) {
  cursor: pointer;
}

#config fieldset button:hover:is(.disabled) {
  cursor: auto;
}

@media( min-width: 776px ) {
  :root {
    // --body-bg-clr: xxx;

    --recalc-tooltip-pos-bottom: -1.7em;
    --recalc-tooltip-pos-right: 0;
    --recalc-tooltip-pos-left: auto;
  }
}

@media( min-width: 729px ) {
  :root {
    // --body-bg-clr: xxx;

    #config fieldset {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

@media( min-width: 1160px ) {
  :root {
    // --body-bg-clr: xxx;

    --config-col-1-width: 9.7em;

    #config fieldset .col {
      grid-template-columns: repeat(auto-fill, minmax(var(--config-col-1-width), 1fr));
    }

    .col__fields label {
      width: auto;
      min-width: max-content;
    }

    #multiple .col__fields label {
      top: 0;
    }
    
    .chkbox-grp {
      margin-left: 0;
    }

    #multiple .chkbox-grp {
      top: 0;
      margin-left: calc(1.8 * var(--config-input-spacer));
    }

    #multiple .chkbox-grp label {
      position: relative;
      top: 0.1em;
    }   
  }
}

// -------------------------------------
// Error messages

// The input field itself when it has an error
.col.input-err input {
  background-color: var(--err-field-bg-clr);
  border: 2px solid var(--err-field-border-clr);
}

// The error message
.col.input-err .col__extra-info {
  padding-top: 0.5em;
  font-size: .85rem;
  font-weight: var(--font-wt-semi-bold);
  color: var(--err-msg-clr);
}

// -------------------------------------
// Config: form field inputs and labels
// (these do *not* include the run controls such as run buttons and speed
// up/down, text size up/down etc.)

#config input {
  padding: 0 0.3em;
  height: 1.8em;
}

#config input.inp-large {
  width: var(--config-input-size);
}

#config input.inp-small {
  width: var(--config-input-size);
}

#config #speed .col__fields {
  // Note NB: This 'position: relative' is necessary for the slider to work
  position: relative;
}

#config #speed-inp {
  margin-right: var(--config-input-spacer);
}

#config #speed-range {
  width: 8em;
}

#config .sub-lbl {
  font-size: 0.85rem;
}

#config .sub-lbl span.emph {
  font-weight: var(--font-wt-semi-bold);
}

// -----------------------------------------------------------------------------
// Main content wrapper
// Wrapper for run controls in one column (start/stop/clear, speed up/down, text
// size up/down) and number grid in another

#main-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

#main-wrapper #run-controls {
  // Note: Do *not* set overflow with this position: sticky as it will stop the
  // tooltips from working (they will be clipped at the edge of the #run-controls
  // container)
  position: sticky;
  top: 0;
  max-width: min-content;
  height: max-content;
  padding: 0.5em;
  text-align: center;
  background-image: linear-gradient(to bottom, var(--clr-config-unit-dark), var(--clr-config-unit-light));
  border: 1px solid var(--numgrid-bg-clr);
  border-radius: 5px;
  z-index: 2;

}

#main-wrapper #grid-container {
  overflow-y: auto;
  overflow-x: scroll;
  padding-right: 1em;
}

// -----------------------------------------------------------------------------
// Run control buttons: start/stop/clear, speed up/down, text size up/down
// (these do *not* include the form field inputs and labels)
//
// controls__go:        start/stop/clear
// controls__settings:  speed up/down, text size up/down

#controls fieldset {
  border: none;
}

#controls #pause-continue-btn {
  display: none;
}

#controls #clear-btn {
  visibility: hidden;
}

// --- controls__go --------------------

.controls__go {
  height: 6.3em;
}

.controls__go button {
  margin: 0.3em;
  padding: 0.2em;
  width: 6.2em;
  background-color: var(--btn-bg-clr);
  border: 2px solid var(--btn-border-clr);
  // TODO: Decide which border radius - 4px or larger, say 15px?
  border-radius: 4px;
}

.controls__go button:hover:not(.disabled),
.controls__go button:active:not(.disabled) {
  background-color: var(--btn-hover-bg-clr);
}

.controls__go button.disabled {
  border: 2px solid  var(--btn-disabled-border-clr);
}

.controls__go button:hover:is(.disabled),
.controls__go button:active:is(.disabled) {
  background-color: var(--btn-bg-clr);
}

.controls__go button.attention {
  background-color: var(--btn-attention-hilite-clr);
}

.controls__go button.attention:hover:not(.disabled),
.controls__go button.attention:active:not(.disabled) {
  background-color: var(--btn-attention-hover-clr);
}

.controls__go button.attention:hover:is(.disabled),
.controls__go button.attention:active:is(.disabled) {
  background-color: var(--btn-attention-hilite-clr);
}

// --- controls__settings --------------

.controls__settings {
  margin-top: 2.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls__settings button {
  width: min-content;
  height: min-content;
  cursor: pointer;
  color: var(--btn-clr);
  background-color: transparent;
  border: none;
}

.controls__settings button.disabled {
  cursor: auto;
  opacity: 0.70;
}

button.settings-text-link {
  color: var(--btn-settings-clr);
  font-weight: var(--font-wt-bold);
  padding: var(--settings-link-padding);
}

#speed-change-btns .settings-text-link {
  padding: calc(0.1em + var(--settings-link-padding)) var(--settings-link-padding);
}

button.setings-icon-link {
  // Font style for alt text
  font-style: italic;
  padding: var(--settings-link-padding);
}

#speed-change-btns img {
  width: calc(0.95 * var(--run-btn-height));
  height: var(--run-btn-height);
}

#size-change-btns img {
  width: var(--run-btn-height);
  height: var(--run-btn-height);
}

// --- tooltips ------------------------

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip__text {
  visibility: hidden;
  position: absolute;
  width: max-content;
  color: var(--tooltip-clr);
  background-color: var(--tooltip-bg-clr);
  border: 1px solid var(--tooltip-border-clr);
  border-radius: 6px;
  padding: 0.2em 0.4em;
  z-index: 2;
}

.tooltip:hover .tooltip__text:not(.not-shown) {
  visibility: visible;
}

.tooltip:hover .tooltip__text:is(.disabled) {
  color: var(--tooltip-disabled-clr);
  background-color: var(--tooltip-disabled-bg-clr);
  border: 1px solid var(--tooltip-disabled-border-clr);
}

.tooltip__text.middle-right {
  top: 18%;
  left: 105%;
}

.tooltip__text.recalc-tooltip-pos {
  bottom: var(--recalc-tooltip-pos-bottom);
  right: var(--recalc-tooltip-pos-right);
  left: var(--recalc-tooltip-pos-left);
}

// -----------------------------------------------------------------------------
// Number grid

#grid-container {
  container-name: gridcontain;
  container-type: inline-size;
  margin-inline: auto;
  width: 100dvw;
  z-index: 1;
}

#num-grid {
  display: grid;
  // TODO: Could this be removed altogether as it is set via js? Or should it be
  // there for initial loading?
  grid-template-columns: repeat(var(--ncols-init), var(--cell-width));

  width: min-content;

  text-align: center;
  line-height: 1;

  gap: 1px;
  // Note that the grid's border style must match Config.gridBorderStyle
  border: 1px solid var(--table-border-clr);

  margin: 0 0.9rem;

  color: var(--numgrid-clr);
  background-color: var(--numgrid-bg-clr);

  // TODO: Set the font size clamp here for initial loading? Or not?
  // font-size: clamp(0.9rem, 2.0cqi + 0.4rem, 2.0rem);
  font-size: 1.5rem;
  font-weight: var(--font-wt-bold);
}

#num-grid > div {
  outline: 1px solid var(--table-border-clr);
  padding: var(--cell-v-padding) var(--cell-h-padding);
}

#num-grid .cell-hilite {
  background-color: var(--cell-hilite-bg-clr);
}

// -----------------------------------------------------------------------------
